<%- include('headers/header.ejs') %> 

<body>

    <h1>Signup Page</h1>

    <div class="signup">
        <form action="/signup" method="post">

            <label for="username">Username: </label>
            <input type="text" name="username" id="username">
            <label for="password">Password: </label>
            <input type="password" name="password" id="password">
            <button type="submit">Create Account</button>
    
        </form>
    </div>

</body>
</html>

